// Colors
$primary: #32BFC0;
$secondary: #E53B3F;
$gray: #EEEEEE;
$black: #122128;
$white: #FFFFFF;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
$font-family: 'Poppins', sans-serif;

// Sliders
$slider-bg-color: $white;
$slider-bar-height: 18px!default;
$slider-bar-bg: $gray!default;


// General
$border-color: $gray;
